.formBlock{
  width:500px;
  margin:0 auto;
}

.formBlock form{
  display:flex;
  max-width:330px;
  padding-bottom:150px;
  flex-flow:column nowrap;
  align-items: center;
  justify-content: center;
  margin:0 auto;
  width:100%;
}

.formBlock .sub_title{
  font-size: 13px;
  font-weight: bold;
  margin-top:10px;
}

.formBlock .title{
  max-width: 280px;
  margin: 40px auto 20px auto;
  font-size: 20px;
  font-weight: bolder;
  color: #f4eb2a;
  text-shadow: 1px 1px 6px rgb(0 0 0 / 29%);
}

.mat-form-field-infix{
  border-bottom:0;
}


form mat-form-field{
  width:100%;
  position: relative;
  margin:0 auto 15px;
}

.formBlock .icon{
  position:absolute;
  right:0;
  top:0;
  z-index:2;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline{
  background-color:#fff;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent{
  background-color: #f4eb2a;
}

.line span{
  margin-right:10px;
}

.line{
  width:100%;
  margin:20px auto;
}

.line a{
  color:#fff;
  text-decoration: none;
  display: flex;
  align-items:center;
  justify-content: center;
}

.line a mat-icon{
  display: flex;
  align-items:center;
  justify-content: center;
}


form .hidden{
  height:1px;
  margin:0 auto;
  opacity: 0;
  overflow: hidden;
  transition-duration: 0.4s;
  -webkit-transition:0.4s;
  -ms-transition:0.4s;
}

.visible{
  height:auto;
  opacity: 1;
  overflow: visible;
  transition-duration: 0.4s;
  -webkit-transition:0.4s;
  -ms-transition:0.4s;
}

.mat-raised-button{
  border: 1px solid #e3db26;
  background: #ec8e61;
  color: #ffffff;
}

.mat-input-element{
  color:#fff;
}

.mat-input-element,
.mat-form-field.mat-warn .mat-input-element, .mat-form-field-invalid .mat-input-element {
  caret-color: #f4eb2a;
}

.mat-form-field-appearance-legacy .mat-form-field-underline{
  background-color:#fff;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent,
.mat-form-field-appearance-legacy .mat-form-field-underline{
  background-color:#fff;
}

::ng-deep .mat-form-field-label,
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color:  #fff!important;
}

.mat-error {
  color: #fff;
}

.mat-form-field-appearance-legacy .mat-form-field-infix{
  font-size:16px;
}
