.formBlock{
  width:500px;
  margin:0 auto;
}

.formBlock form{
  display:flex;
  max-width:280px;
  padding-bottom:150px;
  flex-flow:column nowrap;
  align-items: center;
  justify-content: center;
  margin:0 auto;
  width:100%;
}

.formBlock .sub_title{
  font-size: 13px;
  font-weight: bold;
  margin-top:10px;
}
.formBlock .title{
  max-width: 280px;
  margin: 40px auto 20px auto;
  font-size: 20px;
  font-weight: bolder;
  color: #f4eb2a;
  text-shadow: 1px 1px 6px rgb(0 0 0 / 29%);
}

form mat-form-field{
  width:100%;
  position: relative;
}

.formBlock .icon{
  position:absolute;
  right:0;
  top:0;
  z-index:2;
}

.line span{
  margin-right:10px;
}

.line{
  width:100%;
  margin:20px auto;
}


.hidden{
  height:1px;
  opacity: 0;
  overflow: hidden;
  transition-duration: 0.4s;
  -webkit-transition:0.4s;
  -ms-transition:0.4s;
}

.visible{
  height:auto;
  opacity: 1;
  overflow: visible;
  transition-duration: 0.4s;
  -webkit-transition:0.4s;
  -ms-transition:0.4s;
}
