.container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.img_block .img-container{
  width: 100px;
  height: 100px;
  border-radius: 360px;
  position: relative;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}

.img_block{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  height: 420px;
  width: 170px;
  margin-left: 10px;
  padding: 10px;
}

.img_block img{
  width:100%;
  height:100%;
}

app-menu .button_block,
app-menu{
  width:100%;
}

.menu menu-button{
  width:24.5%;
  margin:0 2.4%;
}

.container{
  width:100%;
}



.main-button:hover{
  background-color:transparent;
}

.main-button{
  width: 95%;
  text-transform: uppercase;
  cursor: pointer;
  height: 50px;
  margin: 20px auto;
  display: block;
  border-radius: 4px;
  background-color:#f4eb2a;
  color: rgba(0, 0, 0, 0.53);
  border: 2px solid #f4eb2a;
  font-size: 17px;
  font-weight: bold;
}

.button_block
{
  margin-top:10px;
  width: 70%;
}

.menu{
  display: flex;
  width:100%;
  margin:0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.side-bar{
  position: fixed;
  left: 0;
  top: 0;
  width: 50px;
}

.player-info{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
}

.player-info .player-buttons{
  border: 1.2px solid #f4eb2a;
  background-color: transparent;
  border-radius: 360px;
  text-align: center;
  margin: 0 10px;
  vertical-align: middle;
  width: 25px;
  outline: none;
  height:25px;
  cursor: pointer;
  display:flex;
  align-items: center;
  justify-content: center;
}

.player-buttons mat-icon{
  color: #f4eb2a;
  width: 20px;
  height: 20px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}


