<div class="formBlock dialogBox">
  <div class="loginImage"></div>
  <div class="title">Welcome Back!</div>
  <form [formGroup] = "loginForm">
    <div class="login-error" [ngClass]="this.loginMessage !== ''? 'message' : '' ">{{ loginMessage }}</div>
    <mat-form-field>
      <input matInput type='text' formControlName="userName" placeholder="Email or User Name">
      <mat-error *ngIf = "getter.userName.invalid && getter.userName.touched
                          || isSubmitted && getter.userName.invalid">
        <span *ngIf = "getter.userName.errors.required">User Login cannot be empty!</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type = "{{showPassword ? 'text': 'password'}}" formControlName="userPassword" placeholder="Password">
        <mat-icon class="icon" (click)="changePasswordView()">{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf = 'getter.userPassword.invalid && getter.userPassword.touched || isSubmitted && getter.userName.invalid'>
          <span *ngIf = "getter.userPassword.errors.required">Password cannot not be empty</span>
        </mat-error>
    </mat-form-field>
    <div class="actions">
      <div class="line">
        <span>New here?</span>
        <a class ="signLink" [routerLink] = "['../register']">Sign Up</a>
      </div>
      <button mat-raised-button (click)="submitForm()">Sign In</button>
    </div>
  </form>
</div>

