.formBlock{
  width:500px;
  margin:0 auto;
}


.formBlock .title{
  max-width: 280px;
  margin: 40px auto 20px auto;
  font-size: 20px;
  font-weight: bolder;
  color: #f4eb2a;
  text-shadow: 1px 1px 6px rgb(0 0 0 / 29%);
}


.formBlock form{
  display:flex;
  max-width:330px;
  padding-bottom:150px;
  margin:0 auto;
  flex-flow:column nowrap;
  align-items: center;
  justify-content: center;
  width:100%;
}

form mat-form-field{
  margin-bottom:20px;
  width:100%;
  position: relative;
}

.formBlock .icon{
  position:absolute;
  right:0;
  color:#fff;
  top:0;
  z-index:2;
}

.line span{
  margin-right:10px;
}

.line{
  color:#fff;
  width:100%;
  margin:20px auto;
}

.actions{
  margin:0 auto;
  text-align:center
}

.line a{
  color:#fff;
}

.mat-raised-button{
  border: 1px solid #e3db26;
  background: #ec8e61;
  color: #ffffff;
}

.mat-input-element{
  color:#fff;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent{
  background-color: #f4eb2a;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent{
  color: #f4eb2a;
}

.mat-input-element,
.mat-form-field.mat-warn .mat-input-element, .mat-form-field-invalid .mat-input-element {
  caret-color: #f4eb2a;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent{
  background-color:#fff;
}

::ng-deep .mat-form-field-label,
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color:  #fff!important;
}

.mat-error {
  color: #fff;
}



