.play{
  height:100vh;
  position:relative;
  width:100%;
  overflow: hidden;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.main-source-container{
  width:70%;
  height:70vh;
  display:flex;
  align-items: center;
}

app-menu{
  width:100%;
}
