html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.icon{
  cursor: pointer;
}

span.mat-error{
  font-size: 75%;
  margin-top: .6666666667em;
  top: calc(100% - 1.7916666667em);
  color:#f44336;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(0,0,0,.42);
}

.dialogBox{
  background-image:url('./assets/img/banner_red.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border-radius: 15px;
  padding:20px 15px;
  display:flex;
  align-items: flex-start;
  flex-direction: column;
}

::ng-deep .mat-form-field-infix{
  border:0;
}

.mat-q-error{
  position: absolute;
  box-sizing: border-box;
  left:0;
  bottom:-75%;
  color:#fff;
  width: 100%;
  font-size:75%;
}
