html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.icon{
  cursor: pointer;
}
span.mat-error{
  font-size: 75%;
  margin-top: .6666666667em;
  top: calc(100% - 1.7916666667em);
  color:#f44336;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(0,0,0,.42);
}
